div {
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(238, 249, 253);
  border-radius: 10px;
}

input {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
form{
  background-color: rgb(219, 210, 221);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 400px;
}

button {
  margin: 5px 5px 5px 0;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #eac98c;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: #e2adff;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}
h1 {
  font-family: 'Indie Flower', 'Roboto', sans-serif;
}

h2 {
  font-family: Margarine;
}
input {
   font-family: Quintessential;
}

p {
  font-family: Borel;
}
h3 {
  font-family: Borel;
}